rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /wishlist/{docId}  { allow read, write: if true; }
    match /platforms/{docId} { allow read, write: if true; }
    match /{document=**}     { allow read, write: if false; }
  }
}
